on:
  push:
    branches:
      - master
name: HUGO
jobs:
  master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Build_And_Deploy
        uses: ./.action
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          HUGO_VERSION: 0.57.2
          TARGET_REPO: ToruMakabe/ToruMakabe.github.io
